:root {
  --swiper-theme-color: var(--color--primary) !important;
  --swiper-pagination-bullet-size: 0.75rem !important;
  --swiper-pagination-bullet-horizontal-gap: 0.375rem !important;
  --swiper-pagination-bullet-inactive-color: var(--color--gray-300) !important;
  --swiper-pagination-bullet-inactive-opacity: 1 !important;
}
.swiper-pagination {
  line-height: 100% !important;
  font-size: var(--swiper-pagination-bullet-size) !important;
}

/*
@keyframes track {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
*/

/* Floating labels */

.form-field:focus + label,
.form-field:not(:placeholder-shown) + label {
  color: var(--color--primary);
  font-size: var(--text--size-01);
  padding-top: 0;
  padding-bottom: 0;
  top: -0.375rem;
}

/* Removes iOS form styling */

input,
textarea {
  -webkit-appearance: none;
  /* Webkit */
  -moz-appearance: none;
  /* Firefox */
  appearance: none;
  border-radius: 0;
}

/* Mobile tap color */

html {
  -webkit-tap-highlight-color: transparent;
}

/* Hide scrollbar but allow scrolling */

html,
body {
  -ms-overflow-style: none;
  /* Internet Explorer, Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

/* Autocomplete styles */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}
