.form-field:focus + label,
.form-field:not(:placeholder-shown) + label {
  color: var(--color--primary);
  font-size: var(--text--size-02);
  padding-top: 0;
  padding-bottom: 0;
  top: -0.4375rem;
}
:root {
  --swiper-theme-color: var(--color--primary) !important;
  --swiper-pagination-bullet-size: 0.5rem !important;
  --swiper-pagination-bullet-horizontal-gap: 0.25rem !important;
  --swiper-pagination-bullet-inactive-color: var(--color--gray-300) !important;
  --swiper-pagination-bullet-inactive-opacity: 1 !important;
}
.swiper-pagination {
  line-height: 100%;
  font-size: var(--swiper-pagination-bullet-size);
}

@keyframes track {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}
